In [1]:
import pandas as pd
import numpy as np
pd.set_option('max_rows', 10)
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
print("Vis setup Complete")
print("Setup complete.")

Vis setup Complete
Setup complete.

In [9]:
loan_data_path = "J:\LendingClubLoans2018-2020.csv";
loan_data = pd.read_csv(loan_data_path)
loan_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77159 entries, 0 to 77158
Data columns (total 108 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   id                                          int64
 1   emp_title                                   object
 2   application_type                            object
 3   home_ownership                              object
 4   loan_status                                 object
 5   loan_amnt                                   int64
 6   int_rate                                    object
 7   term                                        object
 8   installment                                 float64
 9   grade                                       object
 10  earliest_cr_line                            object
 11  issue_d                                     object
 12  last_pymnt_d                                object
 13  next_pymnt_d                                object
 14  annual_inc                                  float64
 15  annual_inc_joint                            float64
 16  verification_status                         object
 17  verification_status_joint                   object
 18  pymnt_plan                                  object
 19  purpose                                     object
 20  hardship_flag                               object
 21  hardship_reason                             object
 22  hardship_type                               object
 23  hardship_status                             object
 24  payment_plan_start_date                     object
 25  dti                                         float64
 26  dti_joint                                   float64
 27  delinq_2yrs                                 int64
 28  inq_fi                                      float64
 29  inq_last_12m                                float64
 30  inq_last_6mths                              int64
 31  fico_range_low                              int64
 32  fico_range_high                             int64
 33  last_fico_range_high                        int64
 34  last_fico_range_low                         int64
 35  mort_acc                                    int64
 36  open_acc                                    int64
 37  open_acc_6m                                 float64
 38  acc_open_past_24mths                        int64
 39  pub_rec                                     int64
 40  total_acc                                   int64
 41  initial_list_status                         object
 42  out_prncp                                   float64
 43  out_prncp_inv                               float64
 44  total_pymnt                                 float64
 45  total_pymnt_inv                             float64
 46  total_rec_prncp                             float64
 47  total_rec_int                               float64
 48  total_rec_late_fee                          float64
 49  total_cu_tl                                 float64
 50  tot_coll_amt                                int64
 51  tot_cur_bal                                 int64
 52  total_bal_il                                float64
 53  total_rev_hi_lim                            int64
 54  tot_hi_cred_lim                             int64
 55  total_bal_ex_mort                           int64
 56  total_bc_limit                              int64
 57  total_il_high_credit_limit                  int64
 58  mths_since_last_record                      float64
 59  mths_since_last_major_derog                 float64
 60  mths_since_recent_bc                        float64
 61  mths_since_recent_bc_dlq                    float64
 62  mths_since_recent_inq                       float64
 63  mths_since_rcnt_il                          float64
 64  mths_since_last_delinq                      float64
 65  mths_since_recent_revol_delinq              float64
 66  mo_sin_old_il_acct                          float64
 67  mo_sin_old_rev_tl_op                        int64
 68  mo_sin_rcnt_rev_tl_op                       int64
 69  mo_sin_rcnt_tl                              int64
 70  open_act_il                                 float64
 71  open_il_12m                                 float64
 72  open_il_24m                                 float64
 73  il_util                                     float64
 74  bc_util                                     float64
 75  all_util                                    float64
 76  revol_util                                  object
 77  open_rv_12m                                 float64
 78  open_rv_24m                                 float64
 79  max_bal_bc                                  float64
 80  avg_cur_bal                                 float64
 81  bc_open_to_buy                              float64
 82  recoveries                                  float64
 83  chargeoff_within_12_mths                    int64
 84  collection_recovery_fee                     float64
 85  collections_12_mths_ex_med                  int64
 86  num_accts_ever_120_pd                       int64
 87  num_actv_bc_tl                              int64
 88  num_actv_rev_tl                             int64
 89  num_bc_sats                                 int64
 90  num_bc_tl                                   int64
 91  num_il_tl                                   int64
 92  num_op_rev_tl                               int64
 93  num_rev_accts                               int64
 94  num_rev_tl_bal_gt_0                         int64
 95  num_sats                                    int64
 96  num_tl_90g_dpd_24m                          int64
 97  num_tl_op_past_12m                          int64
 98  pct_tl_nvr_dlq                              float64
 99  percent_bc_gt_75                            float64
 100 pub_rec_bankruptcies                        int64
 101 tax_liens                                   int64
 102 revol_bal_joint                             float64
 103 deferral_term                               float64
 104 hardship_amount                             float64
 105 hardship_payoff_balance_amount              float64
 106 hardship_last_payment_amount                float64
 107 orig_projected_additional_accrued_interest  float64
dtypes: float64(47), int64(39), object(22)
memory usage: 63.6+ MB

In [58]:
feature_missing_values = loan_data.isna().sum()
feature_missing_values = feature_missing_values.to_frame('Missing_Values')

In [61]:
percenatges_df = (loan_data.isna().sum()* 100 / len(loan_data)).to_frame('Missing_Percentages')
missing_values_stats_df = pd.concat([feature_missing_values, percenatges_df], axis=1)
missing_values_stats_df

,Missing_Values,Missing_Percentages
id,0,0.000000
emp_title,5862,7.597299
application_type,0,0.000000
home_ownership,0,0.000000
loan_status,0,0.000000
...,...,...
deferral_term,72668,94.179551
hardship_amount,71042,92.072215
hardship_payoff_balance_amount,71042,92.072215
hardship_last_payment_amount,71042,92.072215
orig_projected_additional_accrued_interest,71170,92.238106

In [65]:
missing_values_stats_df.loc['deferral_term']

Missing_Values         72668.000000
Missing_Percentages       94.179551
Name: deferral_term, dtype: float64

In [82]:
missing_values_stats_df[missing_values_stats_df['Missing_Percentages'] > 60]

,Missing_Values,Missing_Percentages
annual_inc_joint,67777,87.840693
verification_status_joint,67780,87.844581
hardship_reason,72668,94.179551
hardship_type,72668,94.179551
hardship_status,72668,94.179551
...,...,...
deferral_term,72668,94.179551
hardship_amount,71042,92.072215
hardship_payoff_balance_amount,71042,92.072215
hardship_last_payment_amount,71042,92.072215
orig_projected_additional_accrued_interest,71170,92.238106

In [81]:
more_null_values = []
for index, row in missing_values_stats_df.iterrows():
    if (row['Missing_Percentages'] > 60):
        more_null_values.append(index)

                                            Missing_Values  \
annual_inc_joint                                     67777
verification_status_joint                            67780
hardship_reason                                      72668
hardship_type                                        72668
hardship_status                                      72668
...                                                    ...
deferral_term                                        72668
hardship_amount                                      71042
hardship_payoff_balance_amount                       71042
hardship_last_payment_amount                         71042
orig_projected_additional_accrued_interest           71170

                                            Missing_Percentages
annual_inc_joint                                      87.840693
verification_status_joint                             87.844581
hardship_reason                                       94.179551
hardship_type                                         94.179551
hardship_status                                       94.179551
...                                                         ...
deferral_term                                         94.179551
hardship_amount                                       92.072215
hardship_payoff_balance_amount                        92.072215
hardship_last_payment_amount                          92.072215
orig_projected_additional_accrued_interest            92.238106

[17 rows x 2 columns]

In [80]:
print('Number of Features which has more than 60 peercent of null values: ', len(more_null_values))
more_null_values

Number of Features which has more than 60 peercent of null values:  17

['annual_inc_joint',
 'verification_status_joint',
 'hardship_reason',
 'hardship_type',
 'hardship_status',
 'payment_plan_start_date',
 'dti_joint',
 'mths_since_last_record',
 'mths_since_last_major_derog',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_revol_delinq',
 'revol_bal_joint',
 'deferral_term',
 'hardship_amount',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'orig_projected_additional_accrued_interest']

In [78]:
new_loan_df = loan_data.drop(more_null_values, axis=1)
new_loan_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77159 entries, 0 to 77158
Data columns (total 91 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          77159 non-null  int64
 1   emp_title                   71297 non-null  object
 2   application_type            77159 non-null  object
 3   home_ownership              77159 non-null  object
 4   loan_status                 77159 non-null  object
 5   loan_amnt                   77159 non-null  int64
 6   int_rate                    77159 non-null  object
 7   term                        77159 non-null  object
 8   installment                 77159 non-null  float64
 9   grade                       77159 non-null  object
 10  earliest_cr_line            77159 non-null  object
 11  issue_d                     77159 non-null  object
 12  last_pymnt_d                77159 non-null  object
 13  next_pymnt_d                33256 non-null  object
 14  annual_inc                  77159 non-null  float64
 15  verification_status         77159 non-null  object
 16  pymnt_plan                  77159 non-null  object
 17  purpose                     77159 non-null  object
 18  hardship_flag               75532 non-null  object
 19  dti                         77051 non-null  float64
 20  delinq_2yrs                 77159 non-null  int64
 21  inq_fi                      74664 non-null  float64
 22  inq_last_12m                74664 non-null  float64
 23  inq_last_6mths              77159 non-null  int64
 24  fico_range_low              77159 non-null  int64
 25  fico_range_high             77159 non-null  int64
 26  last_fico_range_high        77159 non-null  int64
 27  last_fico_range_low         77159 non-null  int64
 28  mort_acc                    77159 non-null  int64
 29  open_acc                    77159 non-null  int64
 30  open_acc_6m                 74664 non-null  float64
 31  acc_open_past_24mths        77159 non-null  int64
 32  pub_rec                     77159 non-null  int64
 33  total_acc                   77159 non-null  int64
 34  initial_list_status         77159 non-null  object
 35  out_prncp                   77159 non-null  float64
 36  out_prncp_inv               77159 non-null  float64
 37  total_pymnt                 77159 non-null  float64
 38  total_pymnt_inv             77159 non-null  float64
 39  total_rec_prncp             77159 non-null  float64
 40  total_rec_int               77159 non-null  float64
 41  total_rec_late_fee          77159 non-null  float64
 42  total_cu_tl                 74664 non-null  float64
 43  tot_coll_amt                77159 non-null  int64
 44  tot_cur_bal                 77159 non-null  int64
 45  total_bal_il                74664 non-null  float64
 46  total_rev_hi_lim            77159 non-null  int64
 47  tot_hi_cred_lim             77159 non-null  int64
 48  total_bal_ex_mort           77159 non-null  int64
 49  total_bc_limit              77159 non-null  int64
 50  total_il_high_credit_limit  77159 non-null  int64
 51  mths_since_recent_bc        76112 non-null  float64
 52  mths_since_recent_inq       67916 non-null  float64
 53  mths_since_rcnt_il          72280 non-null  float64
 54  mths_since_last_delinq      37514 non-null  float64
 55  mo_sin_old_il_acct          74722 non-null  float64
 56  mo_sin_old_rev_tl_op        77159 non-null  int64
 57  mo_sin_rcnt_rev_tl_op       77159 non-null  int64
 58  mo_sin_rcnt_tl              77159 non-null  int64
 59  open_act_il                 74664 non-null  float64
 60  open_il_12m                 74664 non-null  float64
 61  open_il_24m                 74664 non-null  float64
 62  il_util                     63897 non-null  float64
 63  bc_util                     76005 non-null  float64
 64  all_util                    74648 non-null  float64
 65  revol_util                  77056 non-null  object
 66  open_rv_12m                 74664 non-null  float64
 67  open_rv_24m                 74664 non-null  float64
 68  max_bal_bc                  74664 non-null  float64
 69  avg_cur_bal                 77152 non-null  float64
 70  bc_open_to_buy              76043 non-null  float64
 71  recoveries                  77159 non-null  float64
 72  chargeoff_within_12_mths    77159 non-null  int64
 73  collection_recovery_fee     77159 non-null  float64
 74  collections_12_mths_ex_med  77159 non-null  int64
 75  num_accts_ever_120_pd       77159 non-null  int64
 76  num_actv_bc_tl              77159 non-null  int64
 77  num_actv_rev_tl             77159 non-null  int64
 78  num_bc_sats                 77159 non-null  int64
 79  num_bc_tl                   77159 non-null  int64
 80  num_il_tl                   77159 non-null  int64
 81  num_op_rev_tl               77159 non-null  int64
 82  num_rev_accts               77159 non-null  int64
 83  num_rev_tl_bal_gt_0         77159 non-null  int64
 84  num_sats                    77159 non-null  int64
 85  num_tl_90g_dpd_24m          77159 non-null  int64
 86  num_tl_op_past_12m          77159 non-null  int64
 87  pct_tl_nvr_dlq              77154 non-null  float64
 88  percent_bc_gt_75            76040 non-null  float64
 89  pub_rec_bankruptcies        77159 non-null  int64
 90  tax_liens                   77159 non-null  int64
dtypes: float64(35), int64(39), object(17)
memory usage: 53.6+ MB